@model Fleet_Managment_Production.Models.Vehicle

@{
    ViewData["Title"] = "Usuń Pojazd";
}

<h1>Usuń Pojazd</h1>

<div class="alert alert-danger">
    <h3>Czy na pewno chcesz usunąć ten pojazd?</h3>
    <p>Operacja jest nieodwracalna. Zostaną usunięte również powiązane koszty i przeglądy.</p>
</div>

<div>
    <h4>@Model.Make @Model.Model (@Model.LicensePlate)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">VIN</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.VIN)</dd>

        <dt class="col-sm-3">Przebieg</dt>
        <dd class="col-sm-9">@Model.CurrentKm km</dd>

        <dt class="col-sm-3">Kierowca</dt>
        <dd class="col-sm-9">
            @if (Model.Driver != null)
            {
                <strong>@Model.Driver.FirstName @Model.Driver.LastName</strong>
            }
            else
            {
                <span>Brak (Wolny)</span>
            }
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="VehicleId" />
        <input type="submit" value="Usuń definitywnie" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
    </form>
</div>