@using Fleet_Managment_Production.Models;
@model Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Pojazd</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 mb-1">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10 mb-1">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2 mb-1">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class="col-sm-10 mb-1">
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt class="col-sm-2 mb-1">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10 mb-1">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2 mb-1">
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd class="col-sm-10 mb-1">
            @Html.DisplayFor(model => model.FuelType)
        </dd>
        <dt class="col-sm-2 mb-1">
            @Html.DisplayNameFor(model => model.ProductionYear)
        </dt>
        <dd class="col-sm-10 mb-1">
            @Html.DisplayFor(model => model.ProductionYear)
        </dd>
        <dt class="col-sm-2 mb-1">
            @Html.DisplayNameFor(model => model.LicensePlate)
        </dt>
        <dd class="col-sm-10 mb-1">
            @Html.DisplayFor(model => model.LicensePlate)
        </dd>
        <dt class="col-sm-2 mb-1">
            @Html.DisplayNameFor(model => model.VIN)
        </dt>
        <dd class="col-sm-10 mb-1">
            @Html.DisplayFor(model => model.VIN)
        </dd>
        <dt class="col-sm-2 mb-1">
            @Html.DisplayNameFor(model => model.CurrentKm)
        </dt>
        <dd class="col-sm-10 mb-1">
            @Html.DisplayFor(model => model.CurrentKm) <span> km</span>
        </dd>
        <dt class="col-sm-2 mb-1">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10 mb-1">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt class="col-sm-2">
            Przypisany Kierowca
        </dt>
        <dd class="col-sm-10">
            @if (Model.Driver != null)
            {
                <a asp-controller="Drivers" asp-action="Details" asp-route-id="@Model.Driver.Id" class="btn btn-sm btn-outline-info">
                    @Model.Driver.FullName
                </a>
            }
            else
            {
                <span>Brak przypisanego kierowcy</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VehicleId" class="btn btn-primary mb-1">Edytuj</a>
    <a asp-action="Index" class="btn btn-success mb-1">Powrót do listy</a>
</div>
